button{
    background-color: blue;
    padding: 20px;
    background-color: pink;
    color:white;
    font-family:'Times New Roman';
    text-decoration: none;
}
button: hover {
   background-color: white; 
   color:black 
   border-botton : 3px solid  green;
transition: 0,5s;
}