body{
    background-color: #58B8EE;
    text-align: center;
}
#contenedor {


    background-color: white;
    width: fit-content;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 30px;   
}


input{
    border:0;
    text-align: center;
    padding: 10px;
    background-color: #F6F6F6;
    margin-top:5px;
    width:200px;
    height: 30px;
}


#boton {

    background-color: #58B8EE;
    border:4;
    width: 150px;
    height: 50px;
    color: white;
   
}
#container{
    background-color: #F5F5F5;
    border:2;
    height: 50px;  
}
div {
    box-shadow: 10px 10px 5px hrey;
}

